{% extends "layout.html" %}
{% block body %}
<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">


<h1 class="col-xs-8 col-xs-offset-3 col-md-3 col-md-offset-8">비밀번호 찾기</h1>
	<form class="col-xs-8 col-xs-offset-3 col-md-3 col-md-offset-8" enctype="multipart/form-data" action="{{ url_for('find_password') }}" method="post" name="joinForm">
	{% if error %}
		{{error}}
	{% endif %}
	<br>
    <label>이름</label>
	<input class="  form-control pull-right" type='text' name='username'>
	<br>
	<label>이메일</label>
	<input class="form-control pull-right" type='text' name='email'>
	<br>

	<button class="hidden-md hidden-lg visible-col-12 xs_find_btn" type="submit"> 비밀번호 찾기</button>		
<button class=" hidden-xs find_btn" type="submit"> 비밀번호 찾기</button>		
	</form>


{% endblock %}