<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Korea Amateur Soccer League</title>

	<!-- bootstrap &jQuery -->
	<script type="text/javascript" src="{{url_for('static', filename='js/jquery-1.11.1.min.js')}}"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js"></script>
	<script type="text/javascript" src="{{url_for('static', filename='js/jquery.bootstrap-autohidingnavbar.min.js')}}"></script>

	<script type="text/javascript" src="{{url_for('static', filename='js/skel.min.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='js/skel-layers.min.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='js/init.js')}}"></script>
	<!-- css -->


	<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
	<!--my own css/js -->
	<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/layoutcss.css')}}">

	<!-- nav css/js -->
	<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/tab_style.css')}}">
	<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/layoutshape.css')}}">
<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/tabstyle.css')}}">
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/registercss.css')}}">

    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/layoutcss.css')}}">

    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/skel.css')}}">
 
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

     <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/style-desktop.css')}}">

     <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/style-mobile.css')}}">
     <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/style-narrow.css')}}">
       <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/style-narrower.css')}}">
           <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/style-wide.css')}}">
     <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/style-narrower.css')}}">
           <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/font-awesome.min.css')}}">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
    
 
</head>


<div id="myNavmenuCanvas" class="" style="">
        <nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">
          <a class="navmenu-brand" href="#">Brand</a>
          <ul class="nav navmenu-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
          </ul>
        </nav>
        <div class="navbar navbar-default navbar-fixed-top">
          <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="#myNavmenuCanvas" data-placement="left">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis in aliquet nisl. Praesent sed leo congue, fringilla eros eu, tempus metus. Nam mollis odio ipsum, non vehicula ipsum accumsan sodales. Morbi varius vitae elit euismod cursus. Donec a dapibus justo, in facilisis nisi. Suspendisse ut turpis dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dui risus, tincidunt at odio ut, ultrices dignissim ipsum. Cras ultrices erat nec leo luctus varius. Nulla sollicitudin tincidunt nulla, ut porta mauris volutpat vitae. Suspendisse ornare dolor sit amet massa venenatis pulvinar.</p>
      </div>